.task {
  margin-top: 0px;
  background-color: gainsboro;
  text-align: center;
  padding-bottom: 80px;
}

.about {
  padding-bottom: 50px;
}

#word {
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  padding-top: 100px;
  padding-bottom: 20px;
}

#line {
  background-color: black;
  width: 100px;
  height: 2px;
  margin: 0 auto;
}

.info {
  width: 470px;
  margin: 0 auto;
}

#info {
  font-size: 20px;
}
